.color1 {
    background-color: red;
}

.color2 {
    background-color: aqua;
}

.color3 {
    background-color: yellow;
}

.color4 {
    background-color: #ff0000;
}

.box {
    width: 200px;
    height: 100px;
    float: left;
}

#float-menu ul{
    list-style: none;
    padding: 0;
}

#float-menu li {
    float: left;
    padding: 20px;
}

#float-menu nav {
    overflow: hidden;
}
